

<div class="nav-scroller py-1 mb-2">
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 text-muted " href="/">Current Series</a>
    <a class="p-2 text-muted " href="/admin/series">Career Stats</a>
    <a class="p-2 text-muted " href="/admin/seasons">Past Seasons</a>
    <a class="p-2 text-muted" href="/admin/series">Admin</a>
  </nav>
  <%= image_tag  "catan-bg.png", size:"1110x200" %>
</div>
